{% extends 'registration/base.html' %} {% load bootstrap4 %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://store-images.s-microsoft.com/image/apps.29414.14341934067452587.9f854702-b906-41cc-936c-d24ce8e3d827.9fa6be99-ee40-4373-81fc-c3e950f538cf?mode=scale&q=90&h=1080&w=1920" class="img-fluid mt-5">
        </div>
        <div class="col-md-6">
            {% if form.errors %}
            <p>Some credentials might be incorrect</p>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">
                        Sign up
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="/accounts/register/" method="post">
                        {% csrf_token %} {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
                        </div>
                        <input type="hidden" name="next" value=" {{next}} ">
                    </form>
                    <a href="/accounts/login/"> <button class="btn btn-primary btn-sm"> Log In</button> </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}