{% load bootstrap3 %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% if title %}
    <title style="background-image: url();"> BUSINESS {{title}}</title>
    {% else %}
 
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    {% endblock %}

</head>

<body>
    {% include 'navbar.html' %} {% block content %} {% endblock %} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% bootstrap_javascript %} {% endblock %}
</body>

</html>
<style>
    body{
        background-image: url("https://www.investopedia.com/thmb/MT20HhmgTlw5GUqDuRKTamY-KZg=/2121x0/filters:no_upscale():max_bytes(150000):strip_icc()/low-angle-view-of-modern-financial-skyscrapers-in-central-business-district--hong-kong-at-sunrise-955431124-1719951714ea42f29987d37c2edeeabb.jpg");
    }
</style>